footer
  .bg-footer
    .container
      .row
        .col-md-3
          .inner
            .ft-title
              span Th&ocirc;ng tin c&ocirc;ng ty
            .menu-ft
              ul
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
        .col-md-3
          .inner
            .ft-title
              span C&aacute;c chi nh&aacute;nh
            .menu-ft
              ul
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
        .col-md-3
          .inner
            .ft-title
              span K&#x1EBF;t n&#x1ED1;i v&#x1EDB;i ch&uacute;ng t&ocirc;i
            .menu-ft
              ul
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
                li
                  a(href='') H&#x1ED3; s&#x1A1; c&ocirc;ng ty
        .col-md-3
          .inner.inner-qr-code
            .ft-title
              span QR Code
            img.qr-code(src='image/qr-code/frame.png', alt='')
  .cpry-right
    .container
      span @ YOSHI INTERNATIONAL Co.,Ltd
