section
  .container
    .page-intro
      h1 S&#x1A0; L&#x1AF;&#x1EE2;C V&#x1EC0; YOSHI-CAPITAL
      .page-content
        p=intro.content
        a.view-intro(href='gioithieuchung.html')
          | Xem th&ecirc;m 
          i.fas.fa-angle-right
      .page-img
        .row
          .col-md-6
            img(src='https://yoshigroup.jp/wp-content/uploads/2020/01/xx1.png', alt='')
          .col-md-6
            img(src='https://yoshigroup.jp/wp-content/uploads/2020/01/xx1.png', alt='')
