section
  .bg-newfeed
    h1 D&#x1EF0; &Aacute;N N&#x1ED4;I B&#x1EAC;T
  .page-new
    .container
      .row
        .col-md-4
          .inner
            a(href='detailnew.html')
              .page-new-img
                img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
              .page-new-content
                .title
                  span.type-title Ph&aacute;t tri&#x1EC3;n nh&acirc;n l&#x1EF1;c
                .desc
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                    | aliquam
                    | exercitationem perspiciatis beatae debitis, voluptates vel nesciunt
                    | eveniet incidunt officia facere voluptatibus! Dolore autem labore
                    | quas,
                    | sed quod accusamus voluptas.
        .col-md-4
          .inner
            a(href='detailnew.html')
              .page-new-img
                img(src='https://yoshigroup.jp/wp-content/uploads/2019/06/c1z.png', alt='')
              .page-new-content
                .title
                  span.type-title Ph&aacute;t tri&#x1EC3;n nh&acirc;n l&#x1EF1;c
                .desc
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                    | aliquam
                    | exercitationem perspiciatis beatae debitis, voluptates vel nesciunt
                    | eveniet incidunt officia facere voluptatibus! Dolore autem labore
                    | quas,
                    | sed quod accusamus voluptas.
        .col-md-4
          .inner
            a(href='detailnew.html')
              .page-new-img
                img(src='https://yoshigroup.jp/wp-content/uploads/2020/01/xx1.png', alt='')
              .page-new-content
                .title
                  span.type-title Ph&aacute;t tri&#x1EC3;n nh&acirc;n l&#x1EF1;c
                .desc
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                    | aliquam
                    | exercitationem perspiciatis beatae debitis, voluptates vel nesciunt
                    | eveniet incidunt officia facere voluptatibus! Dolore autem labore
                    | quas,
                    | sed quod accusamus voluptas.
