section
  .page-galary
    .container
      .page-title
        h3
          | H&Igrave;NH &#x1EA2;NH C&Ocirc;NG TY
      .page-images
        .owl-carousel.owl-theme
          div
            a.image-link(href='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png')
              img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
          div
            a.image-link(href='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png')
              img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
          div
            a.image-link(href='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png')
              img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
          div
            a.image-link(href='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png')
              img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
          div
            a.image-link(href='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png')
              img(src='https://yoshigroup.jp/wp-content/uploads/2019/02/top_image_4.png', alt='')
