section
  .page-why
    .container
      .page-title
        h1 T&#x1EA0;I SAO L&#x1EA0;I CH&#x1ECC;N CH&Uacute;NG T&Ocirc;I
      .page-content
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, delectus sint? Totam
          | aliquid nihil fugiat corporis magnam quibusdam adipisci maiores neque, soluta, praesentium
          | numquam. Explicabo omnis ipsum quibusdam voluptatem numquam? Lorem ipsum dolor sit amet
          | consectetur, adipisicing elit. Odio obcaecati nemo vel distinctio repudiandae officia velit
          | reiciendis natus rerum consequuntur! Quis accusamus tempore unde id, corporis aspernatur
          | aperiam vitae officiis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
          | consectetur accusantium quis culpa. Provident ratione eius tempore dolorum saepe ad
          | doloremque. Perspiciatis at reprehenderit provident voluptas dolor, voluptatum quisquam
          | aliquam.
