#main-header
  // menu-mobile
  nav#menu
    ul
      li
        a(href='#') Gi&#x1EDB;i Thi&#x1EC7;u
      li
        a(href='#') L&itilde;nh V&#x1EF1;c Kinh Doanh
      li
        a(href='#') D&#x1EF1; &Aacute;n
        ul
          li
            a(href='') D&#x1EF1; &Aacute;n &Dstrok;&atilde; Ho&agrave;n Th&agrave;nh
          li
            a(href='') D&#x1EF1; &Aacute;n Ch&#x1B0;a Ho&agrave;n Th&agrave;nh
          li
            a(href='') D&#x1EF1; &Aacute;n S&#x1EAF;p Ho&agrave;n Th&agrave;nh
      li
        a(href='#') C&ocirc;ng Ty Th&agrave;nh Vi&ecirc;n
      li
        a(href='#') Truy&#x1EC1;n Th&ocirc;ng
      li
        a(href='#') Tuy&#x1EC3;n D&#x1EE5;ng
      li
        a(href='#') Li&ecirc;n H&#x1EC7;
  // end
  .container
    .header
      .logo
        a(href='')
          img(src='https://yoshigroup.jp/wp-content/uploads/2019/06/logo.png', alt='')
      .navigate
        ul
          li
            a(href='#') Gi&#x1EDB;i Thi&#x1EC7;u
          li
            a(href='#') L&itilde;nh V&#x1EF1;c Kinh Doanh
          li
            a(href='#') D&#x1EF1; &Aacute;n
          li
            a(href='#') C&ocirc;ng Ty Th&agrave;nh Vi&ecirc;n
          li
            a(href='#') Truy&#x1EC1;n Th&ocirc;ng
          li
            a(href='#') Tuy&#x1EC3;n D&#x1EE5;ng
          li
            a(href='#') Li&ecirc;n H&#x1EC7;
      .btn-menu
        a.btn-click(href='#menu')
          span
