#main-header
  // menu-mobile
  nav#menu
    ul
      li
        a(href='gioithieuchung.html') Gi&#x1EDB;i Thi&#x1EC7;u
      li
        a(href='#') L&itilde;nh V&#x1EF1;c Kinh Doanh
      li
        a(href='#') D&#x1EF1; &Aacute;n
      li
        a(href='ctythanhvien.html') C&ocirc;ng Ty Th&agrave;nh Vi&ecirc;n
      li
        a(href='tintuc.html') Tin t&#x1EE9;c
      li
        a(href='tuyendung.html') Tuy&#x1EC3;n D&#x1EE5;ng
      li
        a(href='lienhe.html') Li&ecirc;n H&#x1EC7;
  // end
  .container
    .header
      .logo
        a(href='index.html')
          img(src='https://yoshigroup.jp/wp-content/uploads/2019/06/logo.png', alt='')
      .navigate
        ul
          li
            a(href='gioithieuchung.html') Gi&#x1EDB;i Thi&#x1EC7;u Chung
          li
            a(href='#') L&itilde;nh V&#x1EF1;c Kinh Doanh
          li
            a(href='#') D&#x1EF1; &Aacute;n
          li
            a(href='ctythanhvien.html') C&ocirc;ng Ty Th&agrave;nh Vi&ecirc;n
          li
            a(href='tintuc.html') Tin T&#x1EE9;c
          li
            a(href='tuyendung.html') Tuy&#x1EC3;n D&#x1EE5;ng
          li
            a(href='lienhe.html') Li&ecirc;n H&#x1EC7;
      .btn-menu
        a.btn-click(href='#menu')
          span
