section.page-content
  .container
    .row.page-content-row
      .col-md-6.col-sm-12
        .content
          .title
            h1 K&#x1EBE;T N&#x1ED0;I DOANH NGHI&#x1EC6;P
          .desc
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos eaque
              | explicabo ullam autem sed laborum qui minima modi nostrum? Dicta, nulla? Nobis, hic
              | quidem dicta fugit odit molestiae ipsa. Lorem ipsum dolor sit amet consectetur
              | adipisicing elit. Dolorum impedit sit eveniet soluta, voluptas ut consectetur nihil
              | dolorem deleniti et libero quia, laborum exercitationem? Porro eos saepe temporibus
              | earum aspernatur?
      .col-md-6.col-sm-12
        .img-right
          img(src='https://yoshigroup.jp/wp-content/uploads/2020/01/top_image.png', alt='')
