.slide-content
  .caption
    .title yoshigroup
    .text
      p yoshigroup
    a.btn(href='#')
      span.btn-inner Xem th&ecirc;m
.image-container
  img.image(src=banner.url, alt=`${banner.alt} ${banner._id}`)