head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title yoshigroup
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
  link(rel='stylesheet', href='vendor/css/owl.carousel.min.css')
  link(rel='stylesheet', href='vendor/css/owl.theme.default.min.css')
  link(rel='stylesheet', href='vendor/css/magnific-popup.css')
  link(rel='stylesheet', href='vendor/css/jquery.mmenu.css')
  link(rel='stylesheet', href='vendor/css/jquery.mmenu.positioning.css')
  link(rel='stylesheet', href='vendor/css/site-pack.css')
  link(rel='stylesheet', href='font/font.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/responsive.css')
