doctype html
include ../systemcomponents/head.pug
body
	.wrapper
		include ../components/navbar.pug
		include ../components/banner.pug
		include ../components/page-index-content.pug
	include ../systemcomponents/bottombody.pug
