doctype html
include ../systemcomponents/head.pug
body
	.wrapper
		include ../components/navbar.pug
		include ../components/banner.pug
		include ../components/index-short-intro.pug
		include ../components/page-index-content.pug
		include ../components/index-hightlights-plan.pug
		include ../components/index-why-us.pug
		include ../components/index-company-image.pug
		include ../components/footer.pug
	include ../systemcomponents/bottombody.pug
